#content{
	border:1px solid #999;
	overflow: hidden;
	padding: 20px;
	background: #eee;
}
.left{
	border:1px solid #999;
	padding:20px;
    width: 158px;
    float: left;
    background: #fff;
}
.left span{
	float:right;
}
.right{
	border:1px solid #999;
    width: 118px;
    float: right;
    background: #fff;
}
.right img{
	padding: 20px;
}
.main{
	border:1px solid #999;
    margin-left: 220px; 
    margin-right: 140px;
    padding: 20px;
    background: #fff;
}
